@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

section {
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  /* height: 70vh; */
  border-radius: 1em;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.card-image{
  /* width: 200px; */
  /* margin: 0 auto; */
  /* height: 60%; */
  margin-bottom: 1em;
}

.card-title{
  height: 20%;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.card-title > p{
  font-weight: 700;
}

.card-p{
  height: 20%;
  color: hsl(220, 15%, 55%);
  padding-bottom: 1em;
}

footer{
  padding: 1em;
}

/* @media all and (min-width: 376px){
  section{
    width: 60%;
  }

} */
@media all and (min-width: 376px){
  section{
    width: 20%;
  }

}